CARD24H_PARTNER_ID=
CARD24H_PARTNER_KEY=
CARD24H_WALLET_ID=
CORS_ORIGINS=
CRYPTOGATE_API_BASE=
CRYPTOGATE_API_KEY=
CRYPTOGATE_BINANCE_ID=
CRYPTOGATE_BSC_ADDRESS=
CRYPTOGATE_LTC_ADDRESS=
CRYPTOGATE_MERCHANT_ID=
CRYPTOGATE_POLYGON_ADDRESS=
CRYPTOGATE_SOLANA_ADDRESS=
CRYPTOGATE_TRON_ADDRESS=
ENCRYPTION_KEY=
GEMINI_API_KEY=
JWT_SECRET=
PAYMENT_PROVIDER_WEBHOOK_SECRET=
SOURCE_CONNECTOR_SECRET_KEY=
TELCO_WEBHOOK_SECRET=
VIETQR_WEBHOOK_SECRET=